.pageNotFound{
    height: 700px;
    padding-top: 200px;
    .contentWrapper{
        text-align: center;
        display: flex;
        flex-direction: column;
        color: var(--black-light);
        .bigText{
            font-size: 100px;
            font-weight: 700;
        }
        .smallText{
            font-size: 30px;
        }
    }
}